// ____________________Обнуляющий стиль_______________________________
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

a {
	color: inherit;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
// _________________________Шрифты____________________________________
@import url(./fonts/gilroy/regular/style.css);
@import url(./fonts/gilroy/medium/style.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
// __________________________Текст____________________________________

html, body {
   font-family: gilroy;
	font-size: 18px;
   line-height: 1;
   font-weight: 400;
	color: black;
}

.img-adaptiv {
   position: relative;
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
   }
}



// __________________________Тело_____________________________________

.wrapper {
   min-height: 100%;
   overflow: hidden;

   //_________________Прибить футер к низу_________________
   display: flex;
   flex-direction: column;
}

.header {
   &__container {
   }
}

.container {
   //_________________Ширина контейнера_________________
   max-width: 1110px;

   //_____________________По центру_____________________
   margin: 0 auto;

   //_____________________Отступ безопасности_____________________
   padding: 0px 15px;
   box-sizing: content-box;
}




//_________________________________________Header_________________________________________




.header {
   //_____________________Наезжает на фон_____________________
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;

   &__container {
   }

   &__inner {
      margin: 25px 0px 0px 0px;
      display: flex;
      min-height: 52px;
      align-items: center;
      justify-content: space-between;

   }

   &__logo {
   }

   &__menu {
   }
}


.menu {
   flex: 0 1 40%;
   @media (max-width:716px) {
      display: none;
   }
   &__list {
      // _____________________Адаптивный отступ у эл. 1 круга вниз, кроме посл._____________________
      // &>*:not(:last-child){
      //    margin: 0px 0px 50px 0px;
      // }
      display: flex;
      flex-wrap: wrap;
   }

   &__item {
      flex: 0 1 auto;
      margin-right: 10px;
      &:last-child {
         margin-right: 20px;
      }
   }

   &__link {
      // line-height: calc(([размер интервала]/[размер шрифта])*100%);
      line-height: 200%;
      font-size: 14px;
      color: #FFFFFF;
      transition: 0.3s all ease 0s;
      padding: 10px 15px;
      &:hover {
         background-color: rgb(92, 92, 92);
      }
   }
}

.logo {
   @media (max-width:716px) {
      flex: 0 1 50%;
      text-align: center;
   }
   @media (max-width:537px) {
      flex: 0 1 100%;
   }
   &__img {
   }
}

.header {
   &__right-bar {
      flex: 0 1 40%;
      display: flex;
      justify-content: right;
      @media (max-width:872px) {
         flex-direction: column-reverse;
      }
      @media (max-width:716px) {
         flex: 0 1 50%;
      }
      @media (max-width:537px) {
         display: none;
      }
   }
   &__search {
   }

   &__account {
   }
}

.search {
   margin: 0px 0px 0px 60px;
   &__inner {
      height: 100%;
      display: flex;
      justify-content: right;
      @media (max-width:716px) {
         justify-content: center;
      }
      form {
         width: 104.5px;
         background-color: rgba(0, 0, 0, 0);
         }
      button {
         position: relative;
         &::before {
            content: "";
            background-image: url(/img/header/header__search-icon.svg);
            background-repeat: no-repeat;
            position: absolute;
            background-size: 20px;
            height: 20px;
            width: 20px;
            top: -13px;
            left: -25px;
         }
      }
      input {
         height: 52px;
         width: 100px;
         line-height: 150%;
         font-size: 14px;
         color: #FFFFFF;
         background-color: rgba(255, 255, 255, 0);
            &::placeholder {
            line-height: 150%;
            font-size: 14px;
            color: #FFFFFF;
         }
      }
   }
}

.account {
   &__inner {
      display: flex;
      align-items: center;
      height: 52px;
      margin: 0px 15px 0px 0px;
      justify-content: right;
      @media (max-width:716px) {
         justify-content: center;
      }
   }

   &__login {
      line-height: 120%;
      font-size: 14px;
      color: #FFFFFF;
      transition: 0.3s all ease 0s;
      padding: 10px 15px;
      &:hover {
         background-color: rgb(92, 92, 92);
      }
   }

   &__logo {
      margin: 0px 15px 0px 5px;
      padding: 15px;
      background-color: rgba(92, 92, 92, 0);
      border-radius: 50%;
      transition: 0.5s all ease 0s;
      &:hover {
         background-color: rgb(92, 92, 92);
      }
      @media (max-width:1037px) {
         display: none;
      }
   }

   &__like {
      margin: 0px -15px;
      background-color: rgba(92, 92, 92, 0);
      border-radius: 50%;
      transition: 0.5s all ease 0s;
      img {
         padding: 15px;
      }
      &:hover {
         background-color: rgb(92, 92, 92);
      }
      @media (max-width:1037px) {
         display: none;
      }
   }
}



//______________________________________Page______________________________________


.page {
   // Прибить футер к низу
   flex: 1 1 auto;

   &__main {
      min-height: 950px;
      position: relative;
   }
}

.main {
   &__container {
   }

   &__inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: -360px 0px 0px 0px;
      @media (max-width:993px) {
         margin: -420px 0px 0px 0px;
      }
   }
   
   &__bg {
      padding: 950px 0px 0px 0px;
      z-index: 1;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 80px 0px;
      z-index: 50;
   }

   &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 140%;
      font-family: 'Noto Serif', serif;
      color: #FFFFFF;
      text-align: center;
      margin: 0px 0px 50px 0px;
   }

   &__catalog {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: #FFFFFF;
      text-transform: uppercase;
      padding: 15px 35px;
      display: inline-block;
      background-color: #333333;
      border: 1px solid white;
      letter-spacing: 0.1em;
      transition: 0.3s all ease 0s;
      &:hover {
         background-color: rgb(92, 92, 92);
      }
   }

   &__partners {
   }
}
.partners {
   z-index: 50;
   padding: 30px 0px;
   border-top: 1px solid white;
   @media (max-width:522px){
      display: none;
   }

   &__row {
   }

   &__colimns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__item {
      width: 160px;
      height: 60px;
      position: relative;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
   &__item--line {
      width: 1px;
      height: 100%;
      position: relative;
      &::after {
         content: "";
         border-right: 1px solid white;
         background-size: 20px;
         position: absolute;
         width: 1px;
         height: 60px;
         top: 0;
         left: 0;
      }
      @media (max-width:994px){
         &:nth-child(10){
            display: none;
         }
      }
      @media (max-width:833px){
         &:nth-child(8){
            display: none;
         }
         &:nth-child(10){
            display: none;
         }
      }
      @media (max-width:671px){
         &:nth-child(10){
            display: inline;
         }
         &:nth-child(8){
            display: inline;
         }
         &:nth-child(6){
            display: none;
         }
      }
   }
}

//______________________________________Goods______________________________________

.page {

   &__collection {
   }
}
.collection {

   &__container {
   }

   &__inner {
   }

   &__text {
      margin: 100px 0px 0px 0px;
   }

   &__slider {
      margin: 0px 0px 55px 0px;
   }

   &__goods {
      margin: 0px 0px 120px 0px;
      @media (max-width:800px){
         margin: 0px 0px 60px 0px;
      }
   }
}


.text {
   &__subtitle {
      text-align: center;
      font-size: 21px;
      letter-spacing: 140%;
      margin: 0px 0px 15px 0px;
   }

   &__title {
      text-align: center;
      font-size: 30px;
      line-height: 41px;
      font-weight: bold;
      font-family: 'Noto Serif', serif;
      margin: 0px 0px 60px 0px;
   }
}




.slider {

   &__list {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      & > :last-child {
         margin: 0px 6px 0px 0px;
      }
   }

   &__item {
      flex: 1 1 auto;
      border: 1px solid #D6D6D6;
      box-shadow: 6px 6px 0 -1px rgb(255, 255, 255), 6px 6px 0 0 #D6D6D6;
      text-align: center;
      height: 55px;
      line-height: 61px;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding: 0px 25px;
      &:hover {
         background-color: #333333;
         color: white;
         box-shadow: none;
         height: 61px;
         margin-bottom: -6px;
      }
   }
}


.goods {

   &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0px 0px -20px -20px;
   }

   &__item {
      position: relative;
      padding: 0px 0px 20px 20px;
      flex: 0 1 33.333%;
      @media (max-width:1140px) {
         flex: 0 1 50%;
      }
      @media (max-width:800px) {
         flex: 0 1 100%;
         height: 300px;
      }
   }

   &__label {
      position: absolute;
      top: 79%;
      left: 50%;
      font-weight: 500;
      font-size: 24px;
      line-height: 116%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
      transform: translate(-45%, 0px);
   }

   &__img {
      width: 100%;
      height: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         overflow: hidden;
      }
   }
}




//______________________________________Visit Us______________________________________


.page {

   &__visitus {
      min-height: 541px;
      background: url(/img/visitus/visitus__bg.jpg) 0 0 / 100% 100% repeat;
   }
}
.visitus {

   &__inner {
   }

   &__subtitle {
      font-size: 21px;
      line-height: 140%;
      text-align: center;
      color: white;
      padding: 100px 20px 0px 20px;
   }

   &__title {
      font-size: 30px;
      line-height: 136%;
      text-align: center;
      color: white;
      font-weight: bold;
      padding: 15px 20px 0px 20px;
   }

   &__text {
      margin: 0 auto;
      line-height: 140%;
      text-align: center;
      color: white;
      padding: 45px 20px 0px 20px;
      max-width: 730px;
   }

   &__button {
      font-weight: 500;
      color: white;
      padding: 75px 0px 100px 0px;
      text-align: center;
      text-transform: uppercase;
      a {
         padding: 15px 35px;
         background-color: white;
         color: #333333;
         border: 1px solid #333333;
         transition: 0.3s all ease 0s;
         &:hover {
            color: white;
            background-color: #333333;
         }
      }
   }
}




//______________________________________Blog______________________________________




.page {

   &__blog {
      margin: 0px 0px 135px 0px;
   }
}
.blog {

   &__inner {
   }

   &__text {
      margin: 120px 0px 0px 0px;
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0px 0px 75px -20px;
   }

   &__item {
      position: relative;
      margin: 0px 0px 20px 0px;
      padding: 0px 0px 0px 20px;
      flex: 0 1 33.333%;
      overflow: hidden; 
      @media (max-width:1140px) {
         flex: 0 1 50%;
         &:last-child {
            flex: 0 1 100%;
            height: 400px;
         }
      }
      @media (max-width:800px) {
         flex: 0 1 100%;
         height: 300px;
         &:last-child {
            flex: 0 1 100%;
            height: 300px;
         }
      }
   }

   &__label {
      position: absolute;
      top: 73%;
      left: 50%;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0.1em;
      color: white;
      transform: translate(-48.5%, 0px);
      text-align: center;
      width: 284px;
      overflow: hidden;
      @media (max-width:800px) {
         width: 80%;
         top: 50%;
         background-color: rgba(93, 93, 93, 0.26);
         padding: 10px 10px;
      }
   }


   &__img {
      width: 100%;
      height: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         overflow: hidden;
      }
   }


   &__button {
      text-align: center;
      color: white;
      font-weight: 500;
      line-height: 116%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      a {
         padding: 15px 35px;
         background-color: #333333;
         transition: 0.3s all ease 0s;
         &:hover {
            color: white;
            background-color: rgb(92, 92, 92);
         }
      }
   }
}


//______________________________________Social______________________________________

.page {

   &__social {
      margin: 0px 0px 150px 0px;
   }
}

.text {
   &__sibtitle--hover {
      a {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.social {

   &__container {
   }

   &__inner {
   }

   &__text {
   }

   &__media {
      display: flex;
      flex-wrap: wrap;
   }

   &__yt-video {
      flex: 0 1 50%;
      position: relative;
      padding: 0px 0px 27% 0px;
      iframe {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;  
      }
      @media (max-width:900px) {
         flex: 0 1 100%;
         padding: 0px 0px 65% 0px;
      }
   }

   &__img {
      flex: 0 1 25%;
      position: relative;
      min-height: 300px;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
      @media (max-width:900px) {
         flex: 0 1 50%;
      }
      @media (max-width:560px) {
         flex: 0 1 100%;

      }
   }


   &__item {
      flex: 0 1 50%;
      position: relative;
      padding: 0px 0px 27% 0px;
      @media (max-width:900px) {
         flex: 1 1 100%;
         padding: 0px 0px 65% 0px;
      }
      video {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;  
      }
   }
}






//______________________________________Contacts______________________________________


.page {

   &__contacts {
      min-height: 478px;
      background: url(/img/visitus/visitus__bg.jpg) 0 0 / 100% 100% repeat;
   }
}
.contacts {

   &__inner {
   }

   &__subtitle {
      font-size: 21px;
      line-height: 140%;
      text-align: center;
      color: white;
      padding: 100px 20px 0px 20px;
   }

   &__title {
      font-size: 30px;
      line-height: 136%;
      text-align: center;
      color: white;
      font-weight: bold;
      padding: 15px 20px 0px 20px;
      margin: 0px 0px 70px 0px;
   }

   &__input {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
   
   &__personal {
      font-size: 18px;
      line-height: 140%;
      color: white;
      margin: 0px 80px 0px 0px;
      padding: 0px 0px 0px 55px;
      @media (max-width:815px) {
         margin: 0px 80px 50px 0px;
      }
      &>*:not(:last-child){
         margin: 0px 0px 15px 0px;
      }
   }

   &__link {
      position: relative;
      display: block;
      &::before {
         content: "";
         background-image: url(/img/contacts/contacts__icon.svg);
         background-repeat: no-repeat;
         position: absolute;
         background-size: 20px;
         height: 20px;
         width: 20px;
         top: 3px;
         left: -40px;
      }
      a {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   &__wrapper {
      border: 1px solid white;
      margin: 0px 20px 0px 0px;
      @media (max-width:815px) {
         margin: 0px 15px 100px 15px;
      }
   }

   &__email {
      align-self: center;
      margin: 15px;
      padding: 20px 22px;
      background-color: white;
   }
   &__form {
      input {
         height: 45px;
         width: 200px;
         padding: 0px 0px 0px 20px;
         font-weight: 500;
         font-size: 14px;
         line-height: 16px;
         letter-spacing: 0.1em;
         text-transform: uppercase;
         border: 1px solid #D6D6D6;
         @media (max-width:482px) {
            width: 100%;
         }
         &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #33333370
         }
      }
      button {
         margin: 0px 0px 0px 12px;
         height: 45px;
         width: 160px;
         background-color: #333333;
         color: white;
         font-weight: 500;
         font-size: 14px;
         line-height: 16px;
         text-align: center;
         letter-spacing: 0.1em;
         text-transform: uppercase;
         @media (max-width:482px) {
            margin: 10px 0px 0px 0px;
         }
      }
   }
}


//______________________________________Footer______________________________________

.title {
   font-weight: 500;
   line-height: 140%;
   color: #333333;
   text-transform: uppercase;
}


.item {
   font-size: 14px;
   line-height: 150%;
   color: #333333;
}

.footer {
   &__container {
   }

   &__inner {
      margin: 80px 0px 0px 0px;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      margin: 0px 0px 20px -20px;
      flex-wrap: wrap;
      @media (max-width:767px) {
         &>*:not(:last-child) {
            margin: 0px 0px 50px 0px;
         }
      }
   }

   &__link {
      width : 255px;
      padding: 0px 0px 0px 20px;
      @media (max-width:1124px) {
         flex: 0 1 50%;
         width: 100%;
      }
      @media (max-width:767px) {
         flex: 0 1 100%;
         width: 100%;
      }
   }

   &__pay {
      width : 255px;
      padding: 0px 0px 0px 20px;
      @media (max-width:1124px) {
         flex: 0 1 50%;
         width: 100%;
      }
      @media (max-width:767px) {
         flex: 0 1 100%;
         width: 100%;
      }
   }

   &__contacts {
      width : 295px;
      padding: 0px 0px 0px 20px;
      @media (max-width:1124px) {
         flex: 0 1 50%;
         width: 100%;
         margin: 30px 0px 0px 0px;
      }
      @media (max-width:767px) {
         flex: 0 1 100%;
         width: 100%;
      }
   }

   &__media {
      width : 255px;
      padding: 0px 0px 0px 20px;
      @media (max-width:1124px) {
         flex: 0 1 50%;
         width: 100%;
         margin: 30px 0px 0px 0px;
      }
      @media (max-width:767px) {
         flex: 0 1 100%;
         width: 100%;
         margin: 0px;
      }
   }

   &__bottom {
      flex-wrap: wrap;
   }
}

.link {

   &__title {
      border-bottom: 1px solid #333333;
      padding: 0px 0px 10px 0px;
      margin: 0px 0px 30px 0px;
      @media (max-width:767px) {
         margin: 0px 0px 10px 0px;
      }
   }

   &__item {
      &:not(:last-child) {
         padding: 0px 0px 15px 0px;
      }
   }
}
.pay {

   &__title {
      border-bottom: 1px solid #333333;
      padding: 0px 0px 10px 0px;
      margin: 0px 0px 30px 0px;
      @media (max-width:767px) {
         margin: 0px 0px 10px 0px;
      }
   }

   &__text {
      max-width: 350px;
   }

   &__icons {
      display: flex;
      margin: 20px 0px 0px 0px;
      &>*:not(:last-child){
         margin: 0px 20px 0px 0px;
      }
   }
}
.contacts {

   &__title-2 {
      border-bottom: 1px solid #333333;
      padding: 0px 0px 10px 0px;
      margin: 0px 0px 30px 0px;
      @media (max-width:767px) {
         margin: 0px 0px 10px 0px;
      }
   }

   &__tel {
      a {
         display: block;
         padding: 0px 0px 15px 35px;
         position: relative;
         line-height: 150%;
         &::before {
            content: "";
            background-image: url(/img/footer/footer__telephone.svg);
            background-repeat: no-repeat;
            position: absolute;
            background-size: 20px;
            height: 26px;
            width: 26px;
            top: 5px;
            left: 0px;
         }
      }
   }

   &__mail {
      padding: 0px 0px 0px 35px;
      position: relative;
      &::before {
         content: "";
         background-image: url(/img/footer/footer__mail.svg);
         background-repeat: no-repeat;
         position: absolute;
         background-size: 20px;
         height: 26px;
         width: 26px;
         top: 3px;
         left: 0px;
      }
   }
}
.media {

   &__title {
      border-bottom: 1px solid #333333;
      padding: 0px 0px 10px 0px;
      margin: 0px 0px 30px 0px;
      @media (max-width:767px) {
         margin: 0px 0px 10px 0px;
      }
   }

   &__text {
      margin: 0px 0px 22px 0px;
      max-width: 350px;
   }

   &__inner {
      display: flex;
   }

   &__vk {
      position: relative;
      &::before {
         content: "";
         background-image: url(/img/footer/footer__vk.svg);
         background-repeat: no-repeat;
         position: absolute;
         background-size: 24px;
         height: 24px;
         width: 24px;
         top: 2px;
         left: 20px;
      }
   }

   &__facebook {
      position: relative;
      &::before {
         content: "";
         background-image: url(/img/footer/footer__facebook.svg);
         background-repeat: no-repeat;
         position: absolute;
         background-size: 14px;
         height: 26px;
         width: 26px;
         top: -2px;
         left: 61px;
      }
   }

   &__telegram {
      position: relative;
      &::before {
         content: "";
         background-image: url(/img/footer/footer__telegram.svg);
         background-repeat: no-repeat;
         position: absolute;
         background-size: 22px;
         height: 26px;
         width: 26px;
         top: 0px;
         left: 88px;
      }
   }

   &__e {
      position: relative;
      &::before {
         content: "";
         background-image: url(/img/footer/footer__f.svg);
         background-repeat: no-repeat;
         position: absolute;
         background-size: 18px;
         height: 26px;
         width: 26px;
         top: 0px;
         left: 125px;
      }
   }
}

.bottom {
   display: flex;
   justify-content: space-between;
   border-top: 1px solid #333333;
   margin: 60px 0px 0px 0px;
   padding: 5px 0px 0px 0px;
   &__text {
      margin: 10px 15px;
   }
}
