.contacts {
   min-height: 478px;
   background: url(../img/visitus/visitus__bg.jpg) 0 0 / 100% 100% repeat;
   &__inner {
   }

   &__subtitle {
      @include style(1.166rem, 140%, $font_clor_light);
      text-align: center;
      padding: 100px 20px 0px 20px;
   }

   &__title {
      @include style(1.66rem, 140%, $font_clor_light);
      text-align: center;
      font-weight: bold;
      padding: 15px 20px 0px 20px;
      margin: 0px 0px 70px 0px;
   }

   &__input {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
   
   &__personal {
      @include style(1rem, 140%, $font_clor_light);
      margin: 0px 80px 0px 0px;
      padding: 0px 0px 0px 55px;
      @media (max-width:815px) {
         margin: 0px 80px 50px 0px;
      }
      &>*:not(:last-child){
         margin: 0px 0px 15px 0px;
      }
   }

   &__link {
      position: relative;
      display: block;
      &::before {
         content: "";
         background-image: url(../img/contacts/contacts__icon.svg);
         background-repeat: no-repeat;
         position: absolute;
         background-size: 20px;
         height: 20px;
         width: 20px;
         top: 3px;
         left: -40px;
      }
      a {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   &__wrapper {
      border: 1px solid white;
      margin: 0px 20px 0px 0px;
      @media (max-width:815px) {
         margin: 0px 15px 100px 15px;
      }
   }

   &__email {
      align-self: center;
      margin: 15px;
      padding: 20px 22px;
      background-color: white;
   }
   &__form {
      input {
         height: 45px;
         width: 200px;
         padding: 0px 0px 0px 20px;
         font-weight: 500;
         font-size: 14px;
         line-height: 16px;
         letter-spacing: 0.1em;
         text-transform: uppercase;
         border: 1px solid #D6D6D6;
         @media (max-width:482px) {
            width: 100%;
         }
         &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #33333370
         }
      }
      button {
         margin: 0px 0px 0px 12px;
         height: 45px;
         width: 160px;
         background-color: #333333;
         color: white;
         font-weight: 500;
         font-size: 14px;
         line-height: 16px;
         text-align: center;
         letter-spacing: 0.1em;
         text-transform: uppercase;
         @media (max-width:482px) {
            margin: 10px 0px 0px 0px;
         }
      }
   }
}