.navigation {

   &__nav {
      margin: 170px 0px 51px 0px;
   }
}
.nav {
   text-align: center;
   @include style(0.888rem, 175%, $font_color_dark);
   &>*:not(:last-child){
      margin-right: 15px;
      &::after{
         content: "/";
         margin-left: 15px;
      }
   }
   &__link {
      a {
         // text-decoration: underline;
         border-bottom: 1px solid #000000;
      }
      span {
         // text-decoration: underline;
         border-bottom: 1px solid #000000;
      }
   }

   &__current {
      color: #1d9bf0;
   }
}

